/*Within the body*/
* {
    /* margin:0px; */
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
    color: #000;
}
body {
    margin:0;
}
/*header with nav bar*/
.header {
    overflow: hidden;
    padding: 20px 10px;
    background-color: #44474cd4;
    color: #000;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none; /* removes line under words when link is attached */
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
/*extras for when user hovers, it'll show which is being hovered over*/
.header a:hover {
    background-color: lightblue;
    color: black;
}
/*when user clicked */
.header a.active {
    background-color: aquamarine;
    color: #000;
}
.header-right {
    float: right;
}


.name {
    background: white;
    font-size: xx-large;
    font-weight: 600;
}

.title {
    border-right: 5px;
    min-height: 100%;
    text-align: right;
    padding-right: 22px;
    min-width: 20%;
    max-width: 20%;
    border-right: solid;
    
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
}

.about-me p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    width: 90%;
}

.work {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.project-grid-wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 500px;

}

.project-grid a {
    display: block;
}

.project {
    border: solid;
    color:#626469;
    /* display: flex; */
    justify-content: flex-end;
    text-decoration: none;
    /* background-size: cover; */
    background-position: center;
    opacity: 0.75;
    display: inline-flex;
}

.project:hover {
    opacity: 1.0;
}

.module {
    /* background-color: lightcoral; */
    color: whitesmoke;
    padding: 5px;
    position: absolute;
    opacity: .75;
    background-color: #626469;
    line-height: 2px;
}



footer {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-top: 30px;
}


.content-wrapper a {
    float: left;
    text-align: center;
    padding: 35px;
    text-decoration: none; /* removes line under words when link is attached */
    font-size: 18px;
    line-height: 10px;
    border-radius: 4px;
}


@media screen and (max-width: 900px) {
    .header a {
        float: none;
        display: none;
      text-align: left;
    }
}

@media screen and (max-width: 868px) {
    body {
        background-color: #bb8588;
    }
}

@media screen and (max-width: 576px) {
   body{
        background-color: #4086cb;
    }
} 
