/*Within the body*/
* {
    /* margin:0px; */
    box-sizing: border-box;
}
body {
    margin:0;
}
/*header with nav bar*/
.header {
    overflow: hidden;
    padding: 20px 10px;
    background-color: #44474cd4;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none; /* removes line under words when link is attached */
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
/*extras for when user hovers, it'll show which is being hovered over*/
.header a:hover {
    background-color: lightblue;
    color: black;
}
/*when user clicked */
.header a.active {
    background-color: aquamarine;
    color: #000;
}
.header-right {
    float: right;
}

.title {
    border-right: 5px;
    min-height: 100%;
    text-align: right;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
    
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
}

.about-me p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    width: 90%;
}

.work {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.project-grid-wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 500px;

}

/* .project, .first-image {

    background-image: url('/assets/images/v880-kul-17.jpg');
} */

footer {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-top: 30px;
}


.content-wrapper a {
    float: left;
    text-align: center;
    padding: 35px;
    text-decoration: none; /* removes line under words when link is attached */
    font-size: 18px;
    line-height: 10px;
    border-radius: 4px;
}

/* #banner {
    background-image: url("v880-kul-17.jpg");
    height: 100px;
    background-size: cover;
} */




/* @media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: none;
        text-align: left;
    }
} */

/* @media screen and (max-width: 768px) {
    nav {
        background-color: #bb8588;
    }
}

@media screen and (max-width: 576px) {
    .sample-img {
        background-color: #8ac4ff;
    }
} */

/* .header-right {
    float: none;
} */